apiVersion: v1
kind: Pod
metadata:
  name: etcd-server
spec:
  hostNetwork: true
  containers:
  - image: gcr.io/google_containers/etcd-amd64:3.0.17 
    name: etcd-container
    command:
    - /usr/local/bin/etcd
    - --name
    - {{ ansible_hostname }} 
    - --initial-advertise-peer-urls
    - http://{{ ansible_default_ipv4.address }}:2380
    - --listen-peer-urls
    - http://{{ ansible_default_ipv4.address }}:2380
    - --advertise-client-urls
    - http://{{ ansible_default_ipv4.address }}:4001
    - --listen-client-urls
    - http://127.0.0.1:4001
    - --data-dir
    - /var/lib/etcd 
    - --discovery
    - {{ etcd_discovery_token.stdout_lines[0] }}
    ports:
    - containerPort: 2380
      hostPort: 2380
      name: serverport
    - containerPort: 4001
      hostPort: 4001
      name: clientport
    volumeMounts:
    - mountPath: /etc/ssl/certs
      name: certs
    - mountPath: /var/lib/etcd
      name: etcd
    - mountPath: /etc/kubernetes/
      name: k8s
      readOnly: true
  securityContext:
    seLinuxOptions:
      type: spc_t
  volumes:
  - hostPath:
      path: /etc/ssl/certs
    name: certs
  - hostPath:
      path: /var/lib/etcd
    name: etcd
  - hostPath:
      path: /etc/kubernetes
    name: k8s
